body {
    font-family:"Arial", "sans-serif";
}

nav {
    background-color:black;
    padding:5px;
}

nav a {
    font-weight:bold;
    color:white;
    padding-right:5px;
    text-decoration:none;
    border-right: 2px solid white;
}

div.wrapper {
    width:1000px;
    margin:auto;
}

article {
    float:left;
    width:49%;
    margin-right:2%;
    margin-top:30px;
}

table {
    width:49%;
    margin-top:30px;
    border:1px solid black;
    border-collapse:collapse;
}

td {
    padding:15px;
    border:1px solid black;
}

td.groen {
    background-color:#ccffcc;
}

td.blauw {
    background-color:#ccffff;
}