.container {
    color: blue;
}

.container2 > div {
    display: flex;
    font-size: 1em;
}

.container > div {
    //border: 1px solid black;
    display: flex;
    font-size: 1em;
}

html, body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
}


